$loginBrandHeight: 130px;

$color-item-border: rgba(0, 0, 0, 0.12);

$color-item-background: rgba(240, 240, 240, 0.12);
$color-item-hover-background: rgba(230, 230, 230, 0.12);

$color-orange: rgb(239, 96, 54);
$color-item-color: rgba($color-orange, 0.8);
$color-item-active-color: rgba($color-orange, 0.5);
$color-item-hover-color: rgba($color-orange, 0.41);

