# For production, change this to import from settings.production
from settings.base import *

# Add proper database name, user and password here, if necessary
# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.postgresql_psycopg2',
#         'HOST': 'postgres',
#         'NAME': 'redux_saga_workshop',
#         'USER': 'redux_saga_workshop',
#         'PASSWORD': 'redux_saga_workshop',
#     }
# }

# For production, override SECRET_KEY


# # For development:
# # Debug toolbar
# INSTALLED_APPS.append('debug_toolbar')
# INTERNAL_IPS = ('127.0.0.1',)
# MIDDLEWARE_CLASSES.append('debug_toolbar.middleware.DebugToolbarMiddleware')

# Uncomment to send emails from your local machine.
# EMAIL_HOST_PASSWORD = 'TODO (api key)'
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# Docker override's
# if socket.gethostname() == 'OVER_NIX':
#     REDIS_HOST = 'localhost'
#     REDIS_PORT = 6379
#     REDIS_URL = 'redis://%s:%d/%d' % (REDIS_HOST, REDIS_PORT, REDIS_DB)
#
#     # Channels
#     CHANNEL_LAYERS['default']['CONFIG']['hosts'] = [(REDIS_HOST, REDIS_PORT)]
#
#     # Caching
#     CACHES['default']['LOCATION'] = REDIS_URL
#
#     # Media root
#     MEDIA_ROOT = os.path.join(os.path.dirname(SITE_ROOT), '.data-media')
